
<div class="container text-center">
 <br><br><h1 class="display-4">About</h1>
<br><br><br>
Nothing special really.
<br><br><br><br><br>
<p>

    <%= link_to "Articles Listing", articles_path %> |
    <%= link_to "Home", root_path %>  

    </div>