@import 'bootstrap/dist/css/bootstrap';

html {

  background-color: #000000;


}

.navbar {

  background-color: #000000 !important;
  
}
  
h1, h2, h3 {

  color: rgb(255, 174, 0); 

}

#logo {

  color: rgb(255, 174, 0); 

}

.jumbotron {

  color:rgb(255, 238, 200);
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;

}

#home, .treasuretext {

  text-align: center

}


#footer {

  background-color: black !important;
  padding: 5%;
  color: rgb(255, 238, 200) !important;

}




.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}