@import 'bootstrap/dist/css/bootstrap';


.navbar {

  background-color: #000000 !important;
  
}
  

#logo {

  color: rgb(255, 174, 0); 

}

.jumbotron {

  color:rgb(255, 238, 200);
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;

}

.home, .treasuretext {

  text-align: center

}


.treasure {

  size: 75vh;

}

.footer {

  font-size: 75%;

}