@import 'bootstrap/dist/css/bootstrap';

body {

  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,4,25,1) 100%);

  color: rgb(255, 238, 200);
}

h1, h2, h3 {

  color: rgb(255, 174, 0); 

}

.navbar {

  background-color: inherit !important;
  
}
  
#logo {

  color: rgb(255, 174, 0); 

}

#home, .treasuretext {

  text-align: center;
  color:rgb(255, 238, 200);
  background-color: inherit;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 0;
  margin-bottom: 0;

}

#treasure {

  background-image: url("treasure.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
  width: 100vh;
  margin: auto;

}

#footer {

  background-color: inherit !important;
  padding: 7%;
  color: rgb(170, 159, 136) !important;
  text-align: left !important;

}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}