<% flash.each do |name, flashmessage| %>

  <% if flashmessage %>
    <br>
    <div id="flashmessage" class="container alert alert-warning alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      <%= flashmessage %>
    </div>
  <% end %>

<% end %>
    
    