
<footer id="footer" class="py-4">
    <div class="container">
      <small>(CCCCCCCCCCCCCCCCCCCCC) Sophia Hass, 2021. It's not copyright, I just like writing Cs. I mean what even would I need a copyright for? Do you think I'm going to litigate if you steal my Hello World randomizer code? Seriously now.</p></small>
    </div>
</footer>
